{% extends 'prices/base.html' %}

{% block title_block %}
<title>TimeSeries</title>
{% endblock %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>{{ series.name }}</h1>
      <table style="width:50%">
        <tr>
          <th>Date</th>
          {% if not exchangerate %}
            <th>Price (USD)</th>
            <th>Price (EUR)</th>
          {% else %}
            <th>Rate</th>
          {% endif %}
        </tr>
        {% for ts in timeseries %}
          <tr>
            <td>{{ ts.dt }}</td>
            <td>{{ ts.value }}</td>
          {% if not exchangerate %}
            <td>{{ ts.value_eur }}</td>
          {% endif %}
          </tr>
        {% endfor %}
      </table>

    </div>
  </div>
{% endblock %}
